<!-- Main sidebar -->
            <div class="sidebar sidebar-main" style="background:#07575C">
                <div class="sidebar-content">

                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <!-- <a href="#" class="media-left"><img src="/assets/images/logo.png" class="img-circle img-sm" alt=""></a> -->
                                <div class="media-body">
                                    <span class="media-heading text-semibold">Admin</span> 
                                </div>  
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->


                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">

                                <!-- Main -->
                                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                                <li class="<% if(title=='dashboard'){ %> active <% }%>"><a href="/dashboard"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                                <li class="<% if(title=='users'){ %> active <% }%>"><a href="/users"><i class="icon-users"></i> <span>Users</span></a></li> 
                                <li class="<% if(title=='booths'){ %> active <% }%>"><a href="/booths"><i class="icon-users"></i> <span>Booth</span></a></li> 
                                <li class="<% if(title=='contents'){ %> active <% }%>"><a href="/users"><i class="icon-users"></i> <span>Contents Pages</span></a></li> 
                                
                                <!-- /page kits -->

                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->

                </div>
            </div>
            <!-- /main sidebar -->
