
<% include ./partials/header %>

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

    <% include ./partials/sidebar%>
            
                 <!-- Main content -->
            <div class="content-wrapper">
                
                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Change Password</h4>
                                
                        </div>
                        

                    </div>

                    
                </div>
                <!-- /page header -->


                <!-- Content area -->
                <div class="content">
                    <% if (messages.info) { %>
                        <div class="alert alert-success"><%= messages.info %></div>
                    <% } %>
                    <!-- Account settings -->
                        <div class="panel panel-flat">
                            
                            <div class="panel-body">
                                <form action="change_password" class="form-horizontal form-validate-jquery" method="POST">
                                    <fieldset class="content-group">
                                    <div class="form-group">
                                        <div class="row">
                                
                                            <div class="col-md-6">
                                                <label>Current password</label>
                                                <input type="password"  required="required" name="current_password" id="current_password" placeholder="Current Password" class="form-control">
                                                <label id="current-password-error" class="validation-error-label" for="current-password-error" style=""><% if(message != ''){ %> Current Password is not correct! <% } %></label>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>New password</label>
                                                <input type="password" name="password" required="required" id="password" class="form-control"  placeholder="New Password">
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="form-group">
                                        <div class="row"> 
                                            <div class="col-md-6">
                                                <label>Repeat password</label>
                                                <input type="password" name="repeat_password" required="required"  class="form-control" placeholder="Repeat Password">
                                            </div>
                                        </div>
                                    </div>    
                                    
                                    </fieldset>
                                    

                                    <div class="text-right">
                                    
                                        <button type="submit" style="background-color:#07575C; border-color: #07575C" class="btn btn-primary btn-rounded">Save </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <!-- /account settings --> 
                    <!-- Footer -->
                    <% include ./partials/footer %>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

</body>

<script>
//  $('#current_password').on('keyup',function(){
//     var current_password = $(this).val();    
   
//         $.ajax({
//            type:"POST",
//            url:"/check_password",
//            data:{ current_password:current_password },
//            success:function(data){               
//             if(data == 1){
//                 $('#current_password').attr('aria-invalid','false');
//                 $('#current-password-error').html('Success');
//                 $('#current-password-error').addClass('validation-valid-label');
                
//             }
//             if(data == 0){
//                 $('#current_password').attr('aria-invalid','true');
//                 $('#current-password-error').removeClass('validation-valid-label');
//                 $('#current-password-error').html('Current Password is not correct!');
                
                
//             }
//            }
//         });
    
        
//    });

</script>
</html>
