
<% include ../partials/header %>

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

<% include ../partials/sidebar%> 
        
             <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-default">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Add User</h4> 
                    </div>
                </div>

                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a href="/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
                        <li><a href="/users">Users</a></li>
                        <li class="active">Add</li>
                    </ul>

                   
                </div>
            </div>
            <!-- /page header -->

            <!-- Content area -->
            <div class="content">

                <% if(messages.info){ %>
                    <div class="alert alert-success"></div>
               <% }%>
            
               <!-- Vertical form options -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Basic layout-->
                        <form id="add-user" action="#" method="post"  enctype="multipart/form-data">
                            <div class="panel panel-flat">
                                
                                <div class="panel-body">                                                  
                                    <div class="form-group col-md-6">
                                        <label>Booths Wise</label>
                                        <select name="booth_id" class="form-control" required>
                                            <option value="">--Select--</option>
                                            <% for(let i in booths) { %>
                                                <option value="<%= booths[i].id %>"><%= booths[i].title %></option>
                                            <% } %>
                                        </select>
                                        <div class="alert-danger" id="booth_id"></div>
                                    </div> 
                                    <div class="form-group col-md-6">
                                        <label>Color Wise</label>
                                        <select name="color_wise" class="form-control" required>
                                            <option value="">--Select--</option>
                                            <option value="Red">Red</option>
                                            <option value="Black">Black</option>
                                            <option value="Yellow">Yellow</option>
                                            <option value="Green">Green</option>
                                            <option value="Blue">Blue</option>
                                            <option value="White">White (No Color)</option>
                                        </select>
                                        <div class="alert-danger" id="color_wise"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Name:</label>
                                        <input type="text" class="form-control" placeholder="Name" required name="name">
                                        <div class="alert-danger" id="name"></div>

                                    </div> 
                                    
                                    <!-- <div class="form-group col-md-6">
                                        <label>Email:</label>
                                        <input type="email" id="email" class="form-control" placeholder="Email" required name="email">
                                        <div class="alert-danger" id="email"></div>
                                    </div>  -->
                                    <div class="form-group col-md-6">
                                        <label>VID No.</label>
                                        <input type="text" class="form-control" placeholder="VID No." required name="vid_number">
                                        <div class="alert-danger" id="vid_number"></div>
                                    </div> 
                                    <div class="form-group col-md-6">
                                        <label>Caste:</label>
                                        <input class="form-control" name="caste" required> 
                                        <div class="alert-danger" id="caste"></div>
                                    </div> 
                                    <div class="form-group col-md-6">
                                        <label>Age:</label>
                                        <input type="age" class="form-control" placeholder="Age" required name="age">
                                        <div class="alert-danger" id="age"></div>
                                    </div> 
                                    <div class="form-group col-md-6">
                                        <label>Gender:</label>
                                        <select class="form-control" name="gender" required>
                                            <option value="">--Select--</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                            <option value="T">TransGender</option>
                                        </select>
                                        <div class="alert-danger" id="gender"></div>
                                    </div> 
                                     
                                    <div class="form-group col-md-6">
                                        <label>Phone Number:</label>
                                        <input type="text" class="form-control" placeholder="Phone Number" name="phone" required maxlength="10">
                                        <div class="alert-danger" id="phone"></div>
                                    </div>     
                                               
                                    <div class="form-group col-md-6">
                                        <label>Address:</label>
                                        <input type="text" id="pac-input" class="form-control" placeholder="Address" required name="location">
                                        <div class="alert-danger" id="location"></div>

                                    </div>   
                                    <div class="form-group col-md-6">
                                        <label>Father/Son/Daughter/Husband's Name:</label>
                                        <input type="text" class="form-control" placeholder="Name" required name="relative_name">
                                        <div class="alert-danger" id="relative_name"></div>

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Password:</label>
                                        <input type="password" name="password" class="form-control" required="required" placeholder="Minimum 5 characters allowed">
                                        <div class="alert-danger" id="password"></div>
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                                        <label>Relations:</label>
                                        <input type="radio" name="relations" required value="Son">Son
                                        <input type="radio" name="relations" required value="Father">Father
                                        <input type="radio" name="relations" required value="Husband">Husband
                                        <input type="radio" name="relations" required value="Daughter">Daughter
                                        <div class="alert-danger" id="relations"></div>

                                    </div> 
                                                
                                    <div class="text-right">
                                        <button id="submit-button" type="button" style="background-color:#07575C; border-color: #07575C"  class="btn btn-primary btn-rounded">Add
                                            <i class="icon-arrow-right14 position-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- /basic layout -->
                        </div> 
                    </div>
                </div>

            </div>
            <!-- /content area -->
        </div>
    </div>
</div> 
<script src="assets/js/form_validation.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initAutocomplete" async ></script>
<script>
                                
    let autocomplete;
    let address1Field;
    
    function initAutocomplete() {
        address1Field = document.querySelector("#pac-input");
        
        autocomplete = new google.maps.places.Autocomplete(address1Field, { 
            fields: ["address_components", "geometry","formatted_address"],
            types: ["address"],
        });
        autocomplete.addListener("place_changed", fillInAddress);
    }

    function fillInAddress() {
        const place = autocomplete.getPlace();
        $('#pac-input').val(place.formatted_address);
    }

    
    $("#submit-button").on('click',function(){
        let formdata = $("#add-user").serialize(); 
        $.ajax({
            url:'/user/store',
            method:'post',
            data: $("#add-user").serialize(),
            success:function(response){
                
                if(response.status == 406) { 

                    if(response.name != false){
                        $('#name').html('The name field is required.') 
                    }else {
                        $('#name').hide('fast');
                    }
                    if(response.booth_id != false){
                        $('#booth_id').html('The booth wise field is required.') 
                    }else {
                        $('#booth_id').hide('fast');
                    }
                    if(response.color_wise != false){ 
                        $('#color_wise').html(response.color_wise)
                    }else {
                        $('#color_wise').hide('fast');
                        
                    }
                    if(response.vid_number != false){ 
                        $('#vid_number').html(response.vid_number)
                    }else {
                        $('#vid_number').hide('fast');

                    }
                    if(response.caste != false){ 
                        $('#caste').html(response.caste)
                    }else{
                        $('#caste').hide('fast');

                    }
                    if(response.gender != false){ 
                        $('#gender').html(response.gender)
                    }else{
                        $('#gender').hide('fast');

                    }
                    if(response.age != false){ 
                        $('#age').html(response.age)
                    }else{
                        $('#age').hide('fast');

                    }
                    if(response.phone != false){ 
                        $('#phone').html(response.phone)
                        
                    }else{
                        $('#phone').hide('fast');

                    }
                    
                    if(response.location != false){ 
                        $('#location').html(response.location)
                    }else{
                        $('#location').hide('fast');

                    }
                    if(response.relations != false){ 
                        $('#relations').html(response.relations)
                    }else{
                        $('#relations').hide('fast');

                    }
                    if(response.relative_name != false){ 
                        $('#relative_name').html(response.relative_name)
                    }else{
                        $('#relative_name').hide('fast');

                    }
                    if(response.password != false){ 
                        $('#password').html(response.password)
                    }else{
                        $('#password').hide('fast');

                    }

                }
                
                if(response.status == 412){
                    $('#phone').html(response.messages)
                }
                
                if(response.status == 200){
                    swal({
                        text: "Added sucessfully",
                    }).then(function () {
                        window.location.href = "/users";
                    }); 
                }
            },
            error:function(err){
                alert(err)
            }
        })
    })

</script>
</body>
</html>
