
<% include ../partials/header %>

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

<% include ../partials/sidebar%>
        
             <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-default">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">User Detail</h4>
                    </div> 
                </div>

                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a href="/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
                        <li class=""><a href="/users">Users</a></li>
                        <li class="active">View</li>
                    </ul>

                  
                </div>
            </div>
            <!-- /page header -->


            <!-- Content area -->
            <div class="content">


              	<div class="row">
                    <div class="col-md-8">
        
                      <!-- Basic layout-->
                      
                      <form action="#" class="form-horizontal">
                        
                        <div class="panel panel-flat">

                            <div class="panel-body">
                               
                                <div class="form-group">
                                    <label class="col-lg-5 control-label">Name:</label>
                                    <div class="col-lg-7 info ">
                                        <%= user.name%>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-lg-5 control-label">Phone Number:</label>
                                    <div class="col-lg-7 info">
                                        <%= '+' +user.country_code+''+user.phone %>
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label class="col-lg-5 control-label">Booth No:</label>
                                    <div class="col-lg-7 info">
                                        <%= (user.booth_id != 0) ? user.booth_id : '' %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label">Color:</label>
                                    <div class="col-lg-7 info">
                                        <%= user.color_wise %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label">Caste:</label>
                                    <div class="col-lg-7 info">
                                        <%= user.caste %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label">Age:</label>
                                    <div class="col-lg-7 info">
                                        <%= user.age %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label">Gender:</label>
                                    <div class="col-lg-7 info">
                                        <% if(user.gender == 'M'){ %>
                                            Male 
                                        <% }else if(user.gender == 'F'){  %>
                                            Female 
                                        <% }else{  %>
                                            TransGender 
                                        <% } %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label">Address:</label>
                                    <div class="col-lg-7 info">
                                        <%= user.location %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label">Father/Son/Daughter/Husband's Name :</label>
                                    <div class="col-lg-7 info">
                                        <%= user.relative_name %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label">Relation :</label>
                                    <div class="col-lg-7 info">
                                        <%= user.relations %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label">VID Number:</label>
                                    <div class="col-lg-7 info">
                                        <%= user.vid_number %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-5 control-label">Profile Image:</label>
                                    <div class="col-lg-7 info">
                                        <%= user.profile_pic %>
                                    </div>
                                </div>                            
                          </div>
                        </div>
                      </form>
                      <!-- /basic layout -->
                    
        
                    </div>
        
                  </div>
          

                 <!-- Footer -->
                 <% include ../partials/footer %>

                 <!-- /footer -->


            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

</body>
</html>
