
<% include ../partials/header %>

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

<% include ../partials/sidebar%>
        
             <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-default">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Edit Booth</h4> 
                    </div>
                </div>

                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a href="/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
                        <li><a href="/users">Booths</a></li>
                        <li class="active">Edit</li>
                    </ul>

                   
                </div>
            </div>
            <!-- /page header -->


            <!-- Content area -->
            <div class="content">

                <% if(messages.info){ %>
                    <div class="alert alert-success"></div>
               <% }%>
            
               <!-- Vertical form options -->
                <div class="row">
                    <div class="col-md-12">

                        <!-- Basic layout-->
                        <form action="/booth/update" method="post" class="form-validate-jquery" enctype="multipart/form-data">
                            <input type="hidden" name="booth_id" value="<%= booth.id%>"> 
                            <div class="panel panel-flat">
                                
                                <div class="panel-body">
                                                  
                                    <div class="form-group col-md-12">
                                        <label>Title:</label>
                                        <input type="text" class="form-control" placeholder="title" required name="title" value="<%= booth.title %>">
                                    </div>                                         
                                               
                                    <div class="form-group col-md-12">
                                        <label>Desccription:</label>
                                        <textarea id="description" class="form-control" placeholder="Desccription" required name="description"><%= booth.description %></textarea>
                                    </div>    

                                    <div class="text-right">
                                        <button type="submit" style="background-color:#07575C; border-color: #07575C"  class="btn btn-primary btn-rounded">Update <i class="icon-arrow-right14 position-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- /basic layout --> 

                    </div>

                    
                    </div>
                </div>

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->
<script src="assets/js/form_validation.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd4ZzHfi-nAp-6IAm1YF5-pVxCAlzW4EA&libraries=places&callback=initAutocomplete" async ></script>
<script>
                                
    let autocomplete;
    let address1Field;
    
    function initAutocomplete() {
        address1Field = document.querySelector("#pac-input");
        
        autocomplete = new google.maps.places.Autocomplete(address1Field, {
            // componentRestrictions: { country: ["us", "ca"] },
            fields: ["address_components", "geometry","formatted_address"],
            types: ["address"],
        });
        autocomplete.addListener("place_changed", fillInAddress);
    }

    function fillInAddress() {
        const place = autocomplete.getPlace();
        $('#pac-input').val(place.formatted_address);
    }
</script>
</body>
</html>
