
<% include ../partials/header %>

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

<% include ../partials/sidebar%>
        
             <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-default">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Booth</h4> 
                    </div> 
                </div>

                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a href="/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
                        <li class="active">Booth</li>
                    </ul> 
                </div>
            </div>
            <!-- /page header -->


            <!-- Content area -->
            <div class="content">

                    <% if (messages.info) { %>
                        <div class="alert alert-success"><%= messages.info %></div>
                    <% } %>

                <!-- Basic datatable -->
                <div class="panel panel-flat"> 
                    <a class="btn btn-primary btn-rounded left-btn-a" href="/booths/create">Add Booth</a>
                    <table class="table datatable-basic">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th>Status</th> 
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="info"> 
                  
                            <% let count = 1;
                                booths.forEach((booth) => { %> 
                                <tr>
                                    <td><%= count %></td> 
                                    <td><%= booth.title %></td>
                                    <td><%= booth.description %></td>
                                    <td>
                                        <% if(booth.status == 1){ %>
                                        <a class="status_active" href="/booth/status/<%=booth.id %>/0">Active</a>
                                        <% } else { %>
                                            <a class="status_inactive" href="/booth/status/<%= booth.id %>/1">Inactive</a>
                                        <% } %>
                                    </td>
                                    <td>
                                        <ul class="icons-list">
                                             
                                            <li class="text-teal-600"><a href="/booth/edit/<%= booth.id %>"><i class="icon-pencil"></i></a></li> 
                                        </ul>
                                    </td> 
                                </tr> 
                            <% count++  }) %>   
                        </tbody>
                    </table>
                </div> 
                <!-- Footer -->
                <% include ../partials/footer %>
                <!-- /footer --> 
            </div> 
        </div> 
    </div> 
</div>
<!-- /page container -->



</body>
</html>
